.form {
  display: flex;
  flex-direction: column;
  gap: 12px;

  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  margin: 16px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.form div {
  display: flex;
  align-items: center;
  width: 100%;
}

.form label {
  flex: 1;
  font-weight: bold;
  text-align: left;
  margin-right: 8px;
}

.form input,
.form select {
  flex: 2;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.form button {
  margin: 0 auto;
  display: block;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form button:hover {
  background-color: #0056b3;
}

/* Added styles to unify input box heights */
input {
  height: 30px;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}
