/* Styling for Pagination component */
.pagination {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  font-size: 16px;
  
  background-color: #f9f9f9;
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  padding: 4px;
  margin-bottom: 16px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.pagination button {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 8px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:disabled {
  background-color: #e0e0e0;
  color: #a0a0a0;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #0056b3;
}

.pagination select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pagination label {
    margin-right: 8px;
}

/* Updated styles to set a fixed space between the two divs and center the row */
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px; /* Set fixed space between the two divs */
}